*::selection{
    background-color: rgb(65, 59, 59);
    color: white;
}

body{
    display: flex;
    flex-direction: column;
}

.fondoModal{
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.Modal{
    background-color: rgba(255, 255, 255); 
    z-index: 2;
    position: absolute;
    top:5vh;
    right: 20vw;
    height: 80vh;
    width: 60vw;
    border-radius: 7px;
    display: none;
   }

.closeButton{
    margin-left: 95%;
}
.description{
    margin-left: 10%;
}

/* .status{
    display: flex;
    height: 100vh;
    width: 100%;
}
.status > div{
    border: 3px solid black;
    width: 25%;
    height: 100%;
} */

.tituloPagina{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.tarea {
    padding: 1em;
    border: 1.5px solid black;
    border-radius: 5px;
    width: 20em;
    margin: 0.2em;
    transition: all ease-in-out 300ms; /*Velocidad a la que cambia cuando le pasas el ratón por encima.*/
    margin-top: 20px;
    margin-left: 30px;
    z-index: 1;
}

.titYbtn{
    display: flex;
    justify-content: space-between;
}

.titulo{
    
    word-wrap: break-word;/*El texto se ajusta al contenido*/
}


[contenteditable]:focus {
    outline: 0px solid transparent;
}

.inputTareas{
    all: unset;
    border: 0.1em solid black;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 1em;
    width: 30%;
    margin-left: 20px;
}

.botones{
    display: inline;
    
}

.botones :active{
    outline: 0px solid transparent;
}

.completed{
    background-color: rgb(142, 209, 142);
    
}

.inputDescription{
    width: 80%;
    height: 75px;
    border-radius: 3px

}

.descriptionContent{
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin-top: 25px;
}


.btnDescription{
    display: flex;
    justify-content: flex-end;
    margin-right: 20%;

}
.btnDescription :active{
    outline: 0px solid transparent;
}

textarea {
    border-color: black;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

